/* ./src/index.css */
/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "matribhumi" ;
  src: url("./assets/font/LiAlinurBoisakhUnicode-Regular.ttf");
}


*{
  scroll-behavior: smooth !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  /* font-family:  sans-serif; */
  font-family: matribhumi;
}
.App {
  text-align: center;
}

