/* ./src/index.css */
/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "matribhumi" ;
  src: url("./assets/font/LiAlinurBoisakhUnicode-Regular.ttf");
}


*{
  scroll-behavior: smooth !important;
}

body {
  /* font-family:  sans-serif; */
  font-family: matribhumi;
}
.App {
  text-align: center;
}

